body {
    scroll-behavior: smooth;
    background-color: #caf0f8;
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
}

#navbar {
    background-color: #020336;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    scroll-margin-top: 70px;
}
