body {
    scroll-behavior: smooth;
    background-color: #caf0f8;
    font-family: 'Poppins', sans-serif;
}

footer {
    background-color: #020336;
}

#navbar {
    background-color: #020336;
}

#inicio {
    background: url(../img/fondo.jpeg) no-repeat center center;
    background-size: cover;

}

#logo {
    height: 2rem;
    margin-right: 1rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
    margin-bottom: 4rem;
    font-size: 5rem;
}

.card-width {
    width: auto;
}

.txt-white {
    color: white !important;
}

.txt-white:hover {
    color: #00b4d8 !important;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#btn-top {
    background-color: #03045e;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 999;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1.3rem;
    padding: 0;
    text-align: center;
    transition: opacity 0.3s ease;
}

/*
#caf0f8
#90e0ef
#00b4d8
#0077b6
#03045e
*/